@model MVC_WorkingWIthData.Models.Students

<div><strong>First Name:</strong>@Model.FirstName</div>
<div><strong>Last Name:</strong>@Model.LastName</div>
<div><strong>Grade:</strong>@Model.Grade</div>
<div><strong>Faculy Number:</strong>@Model.FacNumber</div>
